/* Some basic styling, Bootstrap for everything else */

body {
    color: #444;
    /* background-color: #EEEEEE; */
    /* background-color: MistyRose; */
    background-color: LavenderBlush;
    line-height: 1.6;
    font-size: 18px;
    /* font-family: "Comic Sans MS", "Comic Sans", cursive; */
    max-width: 1000px;
    margin: auto;
}

h1.post-title {
    font-weight: bold;
    font-family: "Roboto";
}

ul.terms {
}

.content > h2 {
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: normal;
}

ul li ul {
    padding-bottom: 1rem;
}

.navbar {
    /* background-color: DarkSalmon; */
    /* background-color: LightCoral; */
    /* background-color: #ffb29b; */
    background-color: #ff9bb2;
    font-family: "Roboto"; 
}

/* Use bootstrap's medium devices breakpoint */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column!important;
    }

    .navbar-brand {
        margin-right: 0px;
    }
}

.navbar-brand {
    color: black;
    font-weight: bolder;
}

.nav-link {
    color: black;
    font-weight: bold;
    font-size: 17px;
}

a {
    color: #88003e;
}

a:hover {
    color: #004188
}

.homepage-content > h1 {
    text-align: center;
    margin-bottom: 3px;
}

code {
    /* color: black; */
    color: #000C78;
}

iframe[title="YouTube Video"] {
    padding-bottom: .75rem;
    padding-top: .75rem;
}

.highlight {
    /* background-color: MistyRose !important; */
    /* background-color: lightcyan !important; */
    background-color: #17111e !important;
    margin-bottom: .75em;
    /* color: black !important; */
}
